# Lets predict diabetes in a patient based on various features using different models like log regression, random forest, SVMs and see which one performs best

In [5]:
#all imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import svm

In [ ]:
#reading dataset
df=pd.read_csv("diabetes.csv")

In [53]:
df.head(1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1

In [4]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [13]:
df.shape

(768, 9)

In [10]:
df["Outcome"].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [11]:
df.groupby("Outcome").mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [24]:
##creating depenedent and independent variable sets
X= df.iloc[:,0:8].values
y= df.iloc[:,8].values

## Preprocessing the data

In [28]:
scaler_1 = StandardScaler()

In [31]:
standard_data = scaler_1.fit_transform(X)

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [37]:
regressor_1 = LogisticRegression()

In [38]:
regressor_1.fit(X_train,y_train)

/Users/bnkr/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [39]:
predictions_rg = regressor_1.predict(X_test)

In [42]:
accuracy_score_rg = accuracy_score(y_test,predictions_rg)
print(accuracy_score_rg)

0.7467532467532467

In [45]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [44]:
print(f'classification report : {classification_report(y_test,predictions_rg)}')

classification report :               precision    recall  f1-score   support

           0       0.81      0.79      0.80        99
           1       0.64      0.67      0.65        55

    accuracy                           0.75       154
   macro avg       0.73      0.73      0.73       154
weighted avg       0.75      0.75      0.75       154

In [46]:
confusion_matrix(y_test,predictions_rg)

array([[78, 21],
       [18, 37]])

## horrendous accuracy with logistic regression. Lets try with SVMs

In [47]:
classifier = svm.SVC(kernel='linear')

In [48]:
#trainig the svm classifier
classifier.fit(X_train,y_train)

SVC(kernel='linear')

In [49]:
#Model evaluation:
X_train_predict = classifier.predict(X_train)
train_data_acc = accuracy_score(X_train_predict, y_train)

In [50]:
train_data_acc

0.7736156351791531

In [52]:
X_test_predict = classifier.predict(X_test)
test_data_acc = accuracy_score(X_test_predict,y_test)
test_data_acc

0.7532467532467533

## making the prediction model that can say whether patient has diabetes or not

In [56]:
input_data = (6,148,72,35,0,33.6,0.627,50)
input_data_arr = np.array(input_data)

In [57]:
input_data_reshaped = input_data_arr.reshape(1,-1)

#rescaling the input data using the scaler

input_data_scaled = scaler_1.transform(input_data_reshaped)

In [58]:
#making prediction for the record
prediction = classifier.predict(input_data_scaled)

In [60]:
print(prediction)

[0]